/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'ArefRuqaa-Regular', serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    overflow-y: overlay;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main, .main-homepage, .about-page, .katalog-page, .location-page {
    flex: 1;
}

.main-homepage {
    min-height: 100vh;
    height: auto;
}

.homepage {
	width: 100%;
}

/* HEADER */
.header-wrapper {
    .navbar {
    position: sticky !important;
    top: 0 !important;
    z-index: 9999 !important;
    background-color: #ffffff !important;
}

/* .katalog-container,
.main-homepage,
.about-page,
.location-page {
    overflow: visible !important;
} */

}
/* discount*/
.discount {
    width: 100%;
    background-color: #010100;
    text-align: center;
    padding: 12px 0;
    margin: 0 !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount .discount-text {
    font-family: 'Joan', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2;
    text-decoration: none;
}

/* brand */
.brand-name {
	width: 100%;
	display: flex;
	justify-content: center; 
	align-items: center;
	padding: 10px 0;
	margin: 0; 
	box-sizing: border-box;
	background-color: #ffffff;
	height: 60px;
}

.brand-name .brand-name-text {
	font-family: 'Oleo Script', cursive;
	font-weight: 400;
	font-size: 2rem;
	color: #222;
	margin: 0;
	padding: 0;
}

/* Navbar */
.navbar {
	position: sticky; 
	top: 0;
	width: 100%;
	background-color: #ffffff;
	z-index: 1000;
	padding: 0 !important;
	margin: 0 !important;
	height: 60px;
}
.navbar-page {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 50px;
}

.navbar-page a {
    font-family: 'ArefRuqaa-Regular', serif;
    color: #000;

    text-decoration: none;
    transition: color 0.3s;
}

.navbar-page a:hover {
    color: #072b79;
}


/* HOME */

/* CTA */
.main-homepage {
	position: relative;
	width: 100%;
	min-height: 600px;
	background: url('images/homepage.png') center/cover no-repeat;
}
.darker-homepage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.CTA {
	position: relative;
	text-align: center;
	color: #fff;
	padding: 120px 0px;
}

.CTA .brand-motto {
	font-family: 'Dai Banna SIL', sans-serif; 
	font-weight: 700;
	font-size: 2.5rem;
	margin-top: 200px;
	margin-bottom: -20px;
}

.cta-wrapper-homepage {
	font-family: 'Arima Madurai', sans-serif;
	font-size: 16px;
	margin-bottom: 30px;
	white-space: pre-line;
}

.button-CTA {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
	font-size: 14px;
	font-family: 'ArefRuqaa-Regular', serif;
    border-radius: 8px;
    text-decoration: none;
}

.button-CTA:hover {
	background-color: #b1b1b1;
}

/* Brand Style Image */
.brand-image {
	text-align: center;
	padding: 60px 20px 40px 20px;
}

.brand-image .brand-image-text {
	font-family: 'ArefRuqaa-Regular', serif;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
}

.brand-image p {
	font-family: 'ArefRuqaa-Regular', serif;
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	max-width: 800px;
	margin: 0 auto 40px auto;
	color: #000;
}

.brand-image-group {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.brand-image-group {
	display: flex;
	justify-content: center;
	gap: 55px;
	flex-wrap: wrap;
}

.brand-box {
	width: 400px;
	height: 500px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 50px;
	transition: transform 0.3s, box-shadow 0.3s;
}

.brand-box:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.brand-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(70%);
}

.brand-text {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
}

.brand-title {
	font-family: 'ArefRuqaa-Regular', serif;
	font-size: 18px;
	font-weight: bold;
	margin: 15px 15px;
}

/* Katalog */
/* Katalog container */
.katalog-container {
	width: 100%;
	max-width: 1200px;
	margin: 20px auto;
}

.katalog-title {
    font-family: 'Dai Banna SIL', sans-serif;
    font-size: 28px;
    color: #252525;
    text-align: left;
    margin-bottom: 30px;
}

.card-img-top {
    height: 260px;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s;
}

.card-body .card-text {
    font-family: 'Arima Madurai', sans-serif;
    font-size: 16px;
    color: #252525;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
}

/* PRODUCT */
.product {
	font-family: Arima Madurai;
	font-weight: Regular;
	width: 100%;
}

.product-container {
    width: 100%;
    display: flex;
    gap: 5%;
}

.product-images {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gambar utama */
.product-images-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.product-images-box img {
    height: 400px;
    width: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-images-box img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

/* Thumbnail kecil */
.product-images-box-small {
    display: flex;
    justify-content: flex-start;
    gap: 15px; 
    margin-bottom: 100px;
}

.product-images-box-small img {
    height: 100px;
    width: auto;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-images-box-small img:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.product-description {
    width: 30%;
    display: inline-block;
}

.product-category {
    width: 89px;
    color: rgba(125,125,125,1);
    font-size: 13px;
}

.product-name {
    width: 215px;
    color: rgba(0,0,0,1);
    font-size: 20px;
}

.product-price {
    color: rgba(0,0,0,1);
    font-size: 24px;
    margin-right: 80px;
    margin-bottom: 20px;
}

.product-review {
    color: rgba(125,125,125,1);
    font-size: 13px;
}

.product-sizes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product-size {
    padding: 4px 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
}

.product-size:hover {
    background-color: #252525;
    color: #fff;
}

.product-links {
    display: flex;
    gap: 15px;
    margin-top: 10px;
	text-decoration: none;
}

.product-link {
    padding: 8px 20px;
    border: none;              
    border-radius: 5px;
    background-color: #000;   
    color: #ffff;
    font-size: 14px;
    font-family: 'Arima Madurai', sans-serif;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
	text-decoration: none;
}

.product-link:hover {
    background-color: #dedede;   
    color: #000;               
    border: 1px solid #000000;    
}

.product-link-text {
    font-size: 14px;
    font-family: 'Arima Madurai', sans-serif;
}

.product-info-section {
    max-width: 600px;       
    margin: 20px -10px;
	padding: 0 10px;
}

.product-info-title {
    font-family: 'ArefRuqaa-Regular', serif;
    font-size: 20px;
    margin: 30px 10px 0 0;
}

.product-information {
    font-family: 'Arima Madurai', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 15px;
}

.button-back {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
}


/* ABOUT */
.about-page {
    padding: 40px 240px 60px;
    background-color: #ffffff;
    font-family: 'ArefRuqaa-Regular', serif;
    text-align: left;
}

.about-title {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.about-bold-text {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.about-regular-text {
    font-size: 16px;
    color: #000;
    line-height: 1.5;
    text-align: justify;
}

.about-bold-text,
.about-regular-text,
.about-faq-question,
.about-faq-answer  {
	text-align: justify !important;
	margin: 15px 0;
}
.about-faq-question,
.about-faq-answer  {
	padding-top: 5px;
}
.about-faq-answer  {
	color: #7d7d7d;
}

.about-faq-question,
.about-faq-answer {
    text-align: justify;
}
.about-line {
    width: 100%;
    border: 1px solid #B1B1B1;
    opacity: 0.5;
    margin: 20px 0;
}


/* LOCATION */
.location-page {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.location-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	gap: 40px;
	align-items: flex-start;
	margin: 60px auto
}

.location-info {
    flex: 1 1 300px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.address, .opening-hours {
	font-family: 'ArefRuqaa-Regular', serif;
	font-size: 16px;
	margin-bottom: 10px;
}

.visit-title {
	font-family: 'ArefRuqaa-Regular', serif;
	font-size: 26px;
	color: #252525;
	margin-top: 50px;
    padding: 15px 0;
}

.visit-title,
.address,
.opening-hours {
	margin-right: 80px;
}

.location-map {
    flex: 0 0 450px;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin-top: -20px;
}

.location-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* FOOTER */
.footer {
	width: 100%;
	background-color: #000;
	color: #fff;
	font-family: 'ArefRuqaa-Regular', sans-serif;
	padding: 20px 40px 40px 40px;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.footer-links-helper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-helper {
	font-family: 'ArefRuqaa-Regular', serif;
	display: flex;
	gap: 50px;
}

.footer-helper a {
	color: #ffffff;
	text-decoration: none;
}

.footer-links-helper div {
	cursor: pointer;
	font-size: 16px;
	transition: color 0.3s;
}

.brand-info-footer {
	font-family: 'ArefRuqaa-Regular', serif;
	text-align: right;
}

.brand-info-footer .brand-name-footer {
	font-family: 'Oleo Script', cursive; 
	font-size: 32px;
	font-weight: bold;
	text-align: right;
}
.brand-name-footer {
	margin-bottom: 10px;
}

.brand-info-footer .brand-motto-footer {
	font-family: 'Dai Banna SIL', sans-serif; 
	font-size: 16px;
	text-align: right;
	margin-top: -10px;
}

.footer-separator {
	width: 100%;
	height: 1px;
	background-color: #fff;
	margin: 15px 0;
}

.footer-bottom {
	font-family: 'ArefRuqaa-Regular', serif;
	position: relative;
	width: 100%;
	height: 40px;
}

.footer-bottom .copyright {
	position: absolute;
	left: 0; /* kiri bawah */
	top: 0;
	font-size: 16px;
}

.footer-bottom .social-media {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	gap: 25px;
}

.footer-bottom .social-media img {
	width: 30px;
	height: 30px;
}

/* MOBILE */
@media (max-width: 768px) {

    /* home */
	.brand-image p {
		font-size: 15px !important;
		margin: 25px !important;
	}
	.brand-image-group {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 15px !important;
	}
	/* katalog */
	.katalog-container {
		padding: 0 60px;
	}
	.col {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
	}
	.card-img-top {
		height: 300px;
	}

	/* about */
	.about-page {
        width: 100% !important;
        margin: 0 !important;
        box-sizing: border-box;
        text-align: left !important;
		padding: 60px 30px;
    }

    .about-title {
        text-align: center !important;
    }

    .about-bold-text,
    .about-regular-text,
    .about-faq-question,
	.about-faq-answer  {
        text-align: justify !important;
		margin: 0 20px;

    }
	.about-regular-text {
		margin-top: 3px;
	}
	.about-bold-text {
		margin: 20px;
	}
	.about-faq-question,
	.about-faq-answer  {
		padding-top: 5px;
	}
	.about-faq-answer  {
		color: #7d7d7d;
	}

	/* location */
	.location-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	.location-map {
		width: 80%;
		height: auto;
	}
	.visit-title {
		font-size: 28px;
		width: 100%;
		text-align: center
	}
	.address,
	.opening-hours {
		font-size: 16px;
		width: 100%;
		text-align: center;
	}

	/* footer */
	.footer-top {
		align-items: center;
		gap: 20px; 
	}

	.footer-links-helper {
		align-items: center;
		gap: 20px;
	}
	.footer-links-helper a {
		margin: 0 10px;
	}

	.footer-helper {
		gap: 5px;
	}

	.brand-info {
		text-align: center;
		margin-top: 0 !important;
	}
}


